*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.container{
    width:100vw;
    height:100vh;
    display:flex;
    font-family: 'Lato';
    overflow-x: hidden !important;
}

.right{
    width:50%;
    background: rgba(0, 0, 0, 0.03);
    
}

.left{
    background: url('img/day.png');
    background-repeat: no-repeat;
    background-size: cover;
    width:65%;
    position: relative;
    color:#fff;
}

.weathernow{
    padding:20px;
}

.currentdate{
    padding:30px 40px 10px 20px;
}

.date{
    font-weight: 700;
    /* font-family: 'Roboto'; */
}

.condition{
    max-width:80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* .conditionvalue{
    margin-left: auto;
} */

.condition:nth-child(1){
    margin-top:10px;
}

 .currenticon{
    display: flex;
    justify-content: flex-start;
} 

.currentweathericon{
    /* width:90px; */
    height:150px; 
    margin-left: auto;
    margin-right:30px;
}

.weatherstat{
    position: absolute;
    bottom:5%;
    padding:20px 9px 10px 10px;
    display: flex;
    width: 100%;
    font-weight: 300 !important;
}

.temp{
    font-size: 4.5rem;
    /* display: inline-block; */
    transform: scaleY(1.3);
    font-weight: lighter !important;
}

.degree{
    font-size: 4rem;
}


.locdate{
    margin-left:7px;
    min-width:110px;
}

.location{
    position: absolute; 
    bottom:10%;
}

.time{
    font-size:1.3rem;
}

.cloud{
    margin-left:15px;
    font-size: 2rem;
    bottom: 10%;
    position: absolute;
}

.search{
    position: absolute;
    right: 20px;
    top:1%;
    margin-top: 7px;
}

.searchinput{
    /* border-radius: 5px; */
    border:1px solid rgba(0, 0, 0, 0.6);
    height:25px;
    border-top: none;
    border-left:none;
    border-right: none;
    padding-left:5px;
    background: transparent;
    /* width:0px; */
    transition: all 1s;
}

/* .search */

.searchbtn{
    height:25px;
    width:40px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
    border:none;
    border-radius: 5px;
    margin-left: 5px;
    vertical-align: middle;
    /* padding:10px; */
}

.searchweather{
    height:20px;
    vertical-align: middle;
}

.weather_conditions{
    padding-top: 20px;
    margin-top:25px;
}

.conditions_head{
    text-align: center;
}

.condition{
    padding:5px 15px;
}

.weather_forecast{
    display: flex;
    justify-content: space-around;
    padding-top:10px;
    padding-bottom: 5px;
}

.days_forecast{
    padding:5px 25px 5px 10px;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    /* scrollbar-width: thin; */
}
.days_forecast::-webkit-scrollbar{
    display: none;
}

.day{
    padding:5px 5px;
    text-align: center;
    margin:0px 20px;
    background: #fff;
    box-shadow: 2px 3px 5px #eeeeee;
    -webkit-boxshadow:2px 3px 5px #eeeeee;
    border-radius: 7px;
    min-width:150px;
}

.dayIcon{
    height:30px;
    width:30px;
    margin-bottom: 5px;
}

.dayCondition{
    margin-top:10px;
    margin-bottom:10px;
}

.cond{
    font-size: 0.8rem;
}

.daytemp{
    font-size: 0.9rem;
}

.icons{
    height:28px;
    width:20px;
    vertical-align: middle;
    margin-right:10px
}

@media(max-width:790px){
    .container{
        flex-direction: column;
        overflow-x: hidden !important;

    }

    .left, .right{
        width:100%;
    }

    .right{
        padding-bottom: 5px;
    }

    .weatherstat{
        position: relative;
        margin-top:155px;
    }

    .temp{
        font-size: 4rem;
    }

    .currenticon{
        margin-bottom: 50px;
    }

    .currentweathericon {
        width: 90px;
        height: 90px;
        margin-right: 20px;
    }

    .date{
        margin-top: 5px;
    }

    .cloud{
        font-size: 1.5rem;
    }

    .currentdate{
        margin-top: 10px;
    }

    input::-webkit-input-placeholder {
    color:#fff
  }

  .searchbtn{
    background: rgba(0, 0, 0,0.3);
    height:30px;
    width:45px;
  }
}

@media(max-width:410px){
    .temp{
        /* transform: scaleY(1.1); */
        font-weight: 100 !important;
        font-size: 3.5rem !important;
    }
    .cloud{
        margin-left:7px;
        font-size: 1.25rem;
    }
}

@media(max-width:300px){
    .locdate{
        margin-left:5px;
    }
}

